<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <nav class="nav-cabecera">
        <div class="mercado-liebre-logo">
            <a href="/home"> <img src="/img/logo-mercado-liebre.svg" alt="Mercado Liebre Logo"> </a>
        
        </div>    
        <div class="barra-busqueda">
            <form class="formulario-busqueda" action="">
                <input size="10" type="text" id="" name="" placeholder="Buscar productos, marcas">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="promocion">
            <h2 ><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
        </nav>

        <div class="contenedor-menu">
            <div class="contenedor-izq-menu">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul> 
            </div>
            <div class="contenedor-der-menu">
            <ul>
                <li><a href="/register">Creá tu cuenta    </a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá     </a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras      </a><i class="fas fa-shopping-basket"></i></li>
            </ul> 
            </div>
        </div>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <section class="seccion-formulario">

                <form action="/login" method="GET">
                <div class="contenedor-formulario">
                    <h2>Completar el registro</h2>
                    <input type="text" name="usuario" placeholder="Nombre de usuario">
                    <label for="clave">Contraseña</label>
                    <input type="password" name="clave" id="clave">
                    <button class="boton-formulario" type="submit" > <a href="/home"> Ingresar </a> </button>
                </div>

                </form>

        </section>


        <footer>
            <div class="contenedor-info-footer">
                <div class="info-footer">
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
               
                <div class="info-footer">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
               
                <div class="info-footer">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                 </div>            
            </div>
                <div class="copyright">
                    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
                </div>            
        </footer>
    </body>
    </html>